.configurationPanel {
    background-color: #007bff4d;
    width:25%;
}

.configurationForm {
    margin: 10px;
}

.armiesInput { 
    width: 20% !important;
    display: inline !important;
}

.directiveButton {
    width: 32% !important;
    height: 130px !important;
}

imgs{
    widows: inherit;
    height: inherit;
}